body {
    width: 710px;
    height: 200px;
}

.panel.panel-default {
    margin: 16px;
}

.form-group {
    margin: 0 8px 8px 0;
}

.form-inline {
    margin-bottom: 8px;
}

.host-field {
    width: 216px !important;
}

#form-container {
    margin-bottom: 16px;
}
